h1 {
    text-align: center;
}

table {
    margin: 0 auto;
    width: 300px;
    height: 300px;
}

.column {
    margin: 0;
    height: 100px;
    width: 100px;
}

.mid {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.top-bottom-border {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}